@import "compass/utilities/general/clearfix";

.cnp-dashboard-form {
	@include clearfix;

	.cnp-submit {
		text-align: right;
		float: right;
		line-height: 23px;
	}
}

.cnp-fields {

	&.form-table th { width: inherit; }

	.cnp-field-type-text input,
	.cnp-field-type-textarea textarea,
	.cnp-field-type-select select,
	.cnp-field-type-taxonomy select,
	.cnp-field-type-post select,
	.cnp-field-type-date input
	{
		width: 100%;
	}

	.cnp-slider-label
	{
		display: block;
		text-align: center;
		font-weight: bold;
	}

	.cnp-field-type-media img {
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
	}

	.cnp-field-type-textarea textarea
	{
		height: 10em;
		resize: vertical;
	}
	.cnp-categorydiv {
		ul.category-tabs {
			margin-top: 12px;

			li.tabs {
				padding: 3px 5px 5px;
				background-color: #fdfdfd;
				border-color: #dfdfdf #dfdfdf #fdfdfd;
				border-style: solid;
				border-width: 1px;
				position: relative;
			}
		}
		div.tabs-panel {
			min-height: 42px;
			max-height: 200px;
			overflow: auto;
			padding: 0 .9em;
			border-style: solid;
			border-width: 1px;
			border-color: #dfdfdf;
			background-color: #fdfdfd;
		}
	}

}
